nibabel
opencv-python
tqdm
matplotlib
torch --index-url https://download.pytorch.org/whl/cu121
torchvision --index-url https://download.pytorch.org/whl/cu121
torchaudio --index-url https://download.pytorch.org/whl/cu121
PyYaml
albumentations
WANDB